body {
  direction: ltr;
  overflow-x: hidden;
}

.ChessTree {
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}

.analysis {
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px solid #404040;
  position: relative;
  box-sizing: border-box;
}

.mainline-box {
  white-space: normal;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
}

.Line {
  flex: 0 0 42.5%;
  display: flex;
  font-size: 1.185em;
  line-height: 1.75em;
  padding: 0 0.3em 0 0.5em;
  border-right: #404040;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  box-sizing: border-box;
}

.interrupt {
  font-size: 95%;
  flex: 0 0 100%;
  /* background: #302e2c; */
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  max-width: 100%;
}

.interrupt-lines::before {
  margin-top: 0.65em;
  margin-left: -8px;
  content: " ";
  border-top: 2px solid #404040;
  position: absolute;
  width: 8px;
  height: 6px;
}

.interrupt-lines {
  border-left: none;
  margin-left: 0px;
  margin-top: 2px;
  display: block;
  box-sizing: border-box;
}

.move {
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  padding: 0 2px;
}

.Index {
  flex: 0 0 13%;
  display: flex;
  justify-content: center;
  border-right: 1px solid #404040;
  line-height: 2.07em;
  color: #6b6b6b;
}

.subVarIndex {
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  /* padding: 0 2px; */
}
